@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-red-300: 0 100% 67%;
  --clr-orange-400: 39 100% 56%;
  --clr-teal-600: 166 100% 37%;
  --clr-cobalt-blue-500: 234 85% 45%;

  /* NEUTRAL */

  --clr-white: 0 0% 100%;
  --clr-blue-50: 221 100% 96%;
  --clr-lavender: 241 100% 89%;
  --clr-blue-700: 224 30% 27%;

  /* GRADIENTS */

  /* BACKGROUND */

  --clr-slate-blue: 252 100% 67%;
  --clr-royal-blue: 241 81% 54%;

  --grad-bg: linear-gradient(
    hsl(var(--clr-slate-blue)),
    hsl(var(--clr-royal-blue))
  );

  /* CIRCLE */

  --clr-violet-blue: 256 72% 46% / 1;
  --clr-persian-blue: 241 72% 46% / 0;

  --grad-circle: linear-gradient(
    hsla(var(--clr-violet-blue)),
    hsla(var(--clr-persian-blue))
  );

  /* FONT */

  --ff-sans: 'Hanken Grotesk', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* BASE */

body {
  font: var(--fw-medium) 1.125rem var(--ff-sans);
}

/* CARD */

.result-summary-card {
  max-width: 20.833em;
  margin-inline: auto;
}

/* RESULT SECTION */

.result-summary-card__result {
  text-align: center;
  background: var(--grad-bg);
  color: hsl(var(--clr-lavender));
  padding: 1.333em 2.222em 2.222em;
  border-radius: 0 0 1.78em 1.78em;
}

.result-summary-card__result-score {
  width: 9.333em;
  aspect-ratio: 1;
  font-size: 0.9375rem;
  background: var(--grad-circle);
  color: hsla(var(--clr-lavender) / 0.8);
  margin: 1.667em auto;
  border-radius: 50%;
  display: grid;
  align-items: center;
  align-content: center;
}

.result-summary-card__result-score span {
  font-size: 3.375rem;
  font-weight: var(--fw-extrabold);
  color: hsl(var(--clr-white));
}

.result-summary-card__result-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(var(--clr-white));
  margin-bottom: 0.148em;
}

.result-summary-card__result-info-desc {
  font-size: 0.9375rem;
  line-height: 1.4;
}

/* SUMMARY SECTION */

.result-summary-card__summary {
  font-size: 0.9375rem;
  padding: 1.6em 2.133em 2em;
  color: hsl(var(--clr-blue-700));
}

.result-summary-card__title {
  font-size: 1.125rem;
}

.result-summary-card__summary-list {
  margin-block: 1.6em;
  display: flex;
  flex-direction: column;
  gap: 1.067em;
}

.result-summary-card__summary-item {
  display: flex;
  align-items: center;
  gap: 0.8em;
  padding: 1.067em;
  border-radius: 0.8em;
  background-color: hsla(var(--clr-accent) / 0.05);
}

.result-summary-card__summary-item:nth-of-type(1) {
  --clr-accent: var(--clr-red-300);
}

.result-summary-card__summary-item:nth-of-type(2) {
  --clr-accent: var(--clr-orange-400);
}

.result-summary-card__summary-item:nth-of-type(3) {
  --clr-accent: var(--clr-teal-600);
}

.result-summary-card__summary-item:nth-of-type(4) {
  --clr-accent: var(--clr-cobalt-blue-500);
}

.result-summary-card__summary-category {
  color: hsl(var(--clr-accent));
}

.result-summary-card__summary-category {
  flex: 1;
}

.result-summary-card__summary-score {
  font-weight: var(--fw-bold);
  color: hsla(var(--clr-blue-700) / 0.5);
}

.result-summary-card__summary-score span {
  color: hsl(var(--clr-blue-700));
}

.result-summary-card__btn {
  width: 100%;
  font-size: 1.0625rem;
  font-weight: var(--fw-bold);
  padding: 1em;
  background-color: hsl(var(--clr-blue-700));
  color: hsl(var(--clr-blue-50));
  border-radius: 1.647em;
}

.result-summary-card__btn:where(:hover, :focus-visible) {
  outline: transparent;
  background: var(--grad-bg);
}

@media screen and (min-width: 43.75em) {
  /* BASE */

  body {
    padding: 2.22em;
    display: grid;
    place-items: center;
  }

  /* CARD */

  .result-summary-card {
    max-width: 40.89em;
    background-color: hsl(var(--clr-white));
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.78em;
    box-shadow: 0.5em 1em 3em hsla(var(--clr-blue-700) / 0.2);
    overflow: hidden;
  }

  /* RESULT SECTION */

  .result-summary-card__result {
    padding: 2.22em 3.33em 3.056em;
    border-radius: 1.78em;
  }

  .result-summary-card__title {
    font-size: 1.375rem;
  }

  .result-summary-card__result-score {
    width: 11.11em;
    font-size: 1.125rem;
    margin-block: 1.834em;
  }

  .result-summary-card__result-score span {
    font-size: 4.25rem;
  }

  .result-summary-card__result-info-title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  .result-summary-card__result-info-desc {
    font-size: 1.125rem;
    line-height: 1.3;
    letter-spacing: -0.033em;
  }

  /* SUMMARY SECTION */

  .result-summary-card__summary {
    font-size: 1.125rem;
    padding: 2.222em 2.222em 2.556em;
  }

  .result-summary-card__summary-list {
    margin-block: 1.667em 2.278em;
    gap: 0.889em;
  }

  .result-summary-card__summary-item {
    gap: 0.667em;
    padding: 0.889em;
    border-radius: 0.667em;
  }
}
